name: Docker CI Build

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Descargar Código
      uses: actions/checkout@v4

    - name: Prueba de Construcción Docker
      run: docker build -t sys-check:test .
      
    - name: Verificar Integridad
      run: docker run --rm sys-check:test python system_check.py || true
